@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root{
    /*color*/
    --color-primario: rgb(53, 33, 102);
    --color-primario-luz1: rgb(85, 67, 127);
    --color-primario-luz2: rgb(120, 105, 156);
    --color-primario-sombra1: rgb(41, 22, 86);
    --color-primario-sombra2: rgb(30, 15, 62);

    --color-secundario: rgb(168, 63, 0);
    --color-secundario-luz1: rgb(202, 86, 17);
    --color-secundario-luz2: rgb(230, 122, 58);
    --color-secundario-sombra1: rgb(133, 49, 0);
    --color-secundario-sombra2: rgb(89, 33, 0);

    --simil-negro: rgb(7, 0, 22);
    --simil-blanco: rgb(240, 236, 251);
    --color-acento: rgb(255, 0, 61);
    --color-aceptado: rgb(62, 237, 58);
    --color-warning: rgb(253, 231, 35);
    --color-denegado: rgb(235, 62, 65);
}

body{
    position: relative;
    width: 1199px;
    height: 1359px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 48px;
    background-color: var(--color-primario-sombra2);

}

header, footer{
    background-color: var(--color-primario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    margin: 0%;
    width: 111%;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.095px;
}
h3{
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; 
    letter-spacing: -0.08px;
}

p{
    font-family: 'Roboto', sans-serif;  
    font-size: 14px;
    font-weight: 400;
    line-height: 25px; 
    letter-spacing: 0.42px;
}


.nav_labelJuegos{
    position: absolute;
    border-radius: 20px;
    padding-left: 6%;
    top:3%
}
.checkbox{
    opacity: 0;
}
.checkbox:checked ~ .nav_menuJuegos{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header{
    height: 100px;
    flex-shrink: 0;
    top: 0;
}

ul{
    list-style: none;
   
}
.nav_menuJuegos li{
    width: 200px;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding-top: 9%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.65px;
    
}
.nav_menuJuegos{
    position: absolute;
    top: 8%;
    background-color: var(--color-primario-sombra2);
    border-radius: 6px;
    border: 2px solid var(--Primario-Sombra1, #291656);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path 0.2s ease-out
   
}
.nav_itemJuegos{
    position: absolute;
    text-decoration: none;
    font-weight:bold;
    color: var(--simil-blanco);

}

a:hover{
    color: var(--color-secundario);
}

.logo{
    position: absolute;
    width: 216px;
    height: 98px;
    left: 14%;
    padding-left: 0;
}
.logoname{
    position: absolute;
    width: 127px;
    height: 40px;
    bottom: 15%;
    left: 20%;
}
.logo.logodib{
    height: 25px;
}

.buscador{
    background-color: var(--simil-blanco);
    border-radius: 20px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    width: 460px;
    margin: 30%;
    justify-content: space-between;
    align-self: center;
}
.h2buscador{
opacity: 0.5;

}

.logo, .buscador, .seccionmisjuegos{
    display: flex;
    align-items: center;
} 


a:hover{
    color: var(--color-secundario);
}
.seccionmisjuegos{
    position: absolute;
    top: 20px;
    right: 10px;
    color: var(--simil-blanco);
}
.corazon{
    position: absolute;
    top: 22px;
    right: 95px;
}
.misjuegos:hover{
    color: var(--color-secundario);
}

.nav_labelUsuarios{
    position: absolute;
    left: 104%;
    top: 22px;
}
.nav_menuUsuario{
    position: absolute;
    display: block;
    left: 85%;
    top: 8%;
    width: 317px;
    height: 448px;
    border-radius: 6px;
    border: 1px solid var(--color-primario-sombra1);
    background: var(--color-primario-sombra2);
    clip-path: polygon(100% 2%, 100% 100%, 100% 100%);
    transition: clip-path 0.3s ease-out;
    color: var(--simil-blanco);

}
.checkbox:checked ~ .nav_menuUsuario{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.datosUsuario{ 
    padding: 11%;
    justify-content: center;
    align-items: center;
    display: flex;

}
h2.nombreUsuario{
    padding-left: 15px;

}
.nav_menuUsuario p{
    position: absolute;
    opacity: 0.5;
    top: 17%;
    left: 30%;
}

.itemsUsuarios li{
    display: flex;
padding-left: 16%;
padding-bottom: 8%;
}

.nav_itemUsuario {
    text-decoration: none;
    color: var(--simil-blanco);
    font-family: 'Nunito', sans-serif;
    padding-left: 4%;
}

.itemsRedesSociales{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

/* 
footer{
    height: 275px;
    align-items: flex-start;
    
}

.footertxt{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 275px;
} */