@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:wght@300&display=swap');
:root{
    /*color*/
    --color-primario: rgb(53, 33, 102);
    --color-primario-luz1: rgb(85, 67, 127);
    --color-primario-luz2: rgb(120, 105, 156);
    --color-primario-sombra1: rgb(41, 22, 86);
    --color-primario-sombra2: rgb(30, 15, 62);

    --color-secundario: rgb(168, 63, 0);
    --color-secundario-luz1: rgb(202, 86, 17);
    --color-secundario-luz2: rgb(230, 122, 58);
    --color-secundario-sombra1: rgb(133, 49, 0);
    --color-secundario-sombra2: rgb(89, 33, 0);

    --simil-negro: rgb(7, 0, 22);
    --simil-blanco: rgb(240, 236, 251);
    --color-acento: rgb(255, 0, 61);
    --color-aceptado: rgb(62, 237, 58);
    --color-warning: rgb(253, 231, 35);
    --color-denegado: rgb(235, 62, 65);
}

body{
    margin: 0%;
    position: relative;
    width: 1199px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 48px;
    background-color: var(--color-primario-sombra2);

}

header, footer{
    background-color: var(--color-primario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    margin: 0%;
    width: 111%;
}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.12px;
    color: var(--simil-blanco);
}

h2{
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.095px;
    color:var(--simil-blanco)
}
h3{
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; 
    letter-spacing: -0.08px;
}

p{
    font-family: 'Roboto', sans-serif;  
    font-size: 14px;
    font-weight: 400;
    line-height: 25px; 
    letter-spacing: 0.42px;
}

/* header */

.nav_labelJuegos{
    position: absolute;
    border-radius: 20px;
    padding-left: 5%;
    top:2%
}
.checkbox{
    opacity: 0;
}
.checkbox:checked ~ .nav_menuJuegos{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header{
    height: 76px;
}

ul{
    list-style: none;
   
}
.nav_menuJuegos li{
    width: 200px;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding-top: 9%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.65px;
    
}

.division_itemJuegos{
    opacity: 0.2;
    margin-right:20% ;
    padding-left: 60%;
}

.nav_menuJuegos{
    position: absolute;
    top: 6%;
    left: 0%;
    z-index: 100;
    background-color: var(--color-primario-sombra2);
    border-radius: 6px;
    border: 2px solid var(--color-primario-sombra1);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path 0.2s ease-out
   
}
.nav_itemJuegos{
    position: absolute;
    text-decoration: none;
    font-weight:bold;
    color: var(--simil-blanco);
}

a:hover{
    color: var(--color-secundario);
}

.logo{
    position: absolute;
    width: 216px;
    height: 98px;
    left: 14%;
    bottom: 93.4%;
    padding-left: 0;
}
.logoname{
    position: absolute;
    width: 127px;
    height: 40px;
    bottom: 15%;
    left: 20%;
}

.buscador{
    background-color: var(--simil-blanco);
    border-radius: 20px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    width: 477.6px;
    height: 32px;
    margin: 30%;
    justify-content: space-between;
    align-self: center;
    opacity: 0.5;
}
.h2buscador{
opacity: 0.5;

letter-spacing: -0.095px;
}

.logo, .buscador, .seccionmisjuegos{
    display: flex;
    align-items: center;
} 


a:hover{
    color: var(--color-secundario);
}
.seccionmisjuegos{
    position: absolute;
    top: 12px;
    right: 10px;
    color: var(--simil-blanco);
}
.corazon{
    position: absolute;
    top: 22px;
    right: 95px;
}
.misjuegos:hover{
    color: var(--color-secundario);
}

.nav_labelUsuarios{
    position: absolute;
    left: 104%;
    top: 15px;
}
.nav_menuUsuario{
    position: absolute;
    display: block;
    left: 85%;
    top: 6%;
    z-index: 100;
    width: 317px;
    height: 448px;
    border-radius: 6px;
    border: 1px solid var(--color-primario-sombra1);
    background: var(--color-primario-sombra2);
    clip-path: polygon(100% 2%, 100% 100%, 100% 100%);
    transition: clip-path 0.3s ease-out;
    color: var(--simil-blanco);

}

.checkbox:checked ~ .nav_menuUsuario{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.datosUsuario{ 
    padding: 11%;
    justify-content: center;
    align-items: center;
    display: flex;

}
h2.nombreUsuario{
    padding-left: 15px;

}
.nav_menuUsuario p{
    position: absolute;
    opacity: 0.5;
    top: 17%;
    left: 30%;
}
.division_itemUsuarios{
    opacity: 0.2;
    margin-top: 0%;
    margin-bottom: 10%;
}
.itemsUsuarios li{
    display: flex;
    padding-left: 16%;
    padding-bottom: 8%;
}

.nav_itemUsuario {
    text-decoration: none;
    color: var(--simil-blanco);
    font-family: 'Nunito', sans-serif;
    padding-left: 4%;
}

.itemsRedesSociales{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
/* header */

/* body */
.body_container h1{
    margin-bottom: -1%;
    margin-left: 2%;
    margin-top: 3%;
}

ul.carruselUl{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 113%;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: -2%;

}
::-webkit-scrollbar{
    display: none;
}
li.carruselLi{
   display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.cajaCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}
.cajaCard img{
    padding: 0px;
}
li .cardGrande{
 padding-top: 3%;
}

.cajaCard .p{
    padding-top:5%;
}


.infocard{
    position: relative;
    background-color: var(--simil-blanco);
    opacity: 0.8;
    top: -124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.infocardtxt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0%;
}

.infocardtxt p{
    font-weight: bolder;
    color: var(--simil-negro);
    font-size: 130%;
    margin: 4%;
}

.carrito {
    height: 60px;
    position: inherit;
    top: 40%;
    right: 2%;
    border: 2px solid var(--color-denegado);
    border-radius: 20%;
}






footer{
    height: 275px;
    align-items: flex-end;
    margin-top: 5%;
}

.footertxt{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 275px;
    
} 